.idea/
.__pycache__/
results_CroatianFish/
results_Leaf/
results_Fish/
results_LeafSmall/
results_Insect/
Insect/
Leaf/
LeafSmall/
LeafSmaller/
Bird/
Dogs/
Fish/
FishGres/
FishLargeScale/
FishMediter/
FishNet/
FishPakistan/
FishQUT/
